:root{
    --bg-aside: #1e1f22;
    --bg-server: #2b2d31;
    --bg-button: #313338;
    --bg-box: #232428;
    --bg-message: #383a40 ;
    --bg-chat: #404249;
}

.chat{
    width: 95%;
    height: 35px;
    margin: auto;
    padding: 0 5px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #949ba4;
}
.chat:hover{
    background-color: #34353b;
}
